  <div *ngFor="let item of cats; let i = index">
  <div class="dropdown" onmouseover="this.querySelector('.dropdown-menu').classList.add('show')" onmouseout="this.querySelector('.dropdown-menu').classList.remove('show')">
    <a class="btn btn-secondary bg-white border-0 dropdown-toggle" href="#" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
      {{item.catName}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
      <app-sub-category></app-sub-category>
    </li>
    </ul>
  </div>
</div>
