#delete:hover
{
 background-color: red;
}
#addtocart
{
  background-color: rgba(255, 174, 0, 0.692);
  border: 0px;
}
#addtocart:hover
{
  background-color: rgb(255, 174, 0);
  border: 0px;
}
button
{
  font-size: medium;
  margin: 5px;
}
.card{
  margin-top: 15px;
}
.card:hover
{
  border-color: rgb(34, 34, 99);
  width:95%;


}
